<launch>
  <!-- <node
    pkg="tera_iiwa_ros"
    type="get_plot_data"
    name="get_plot_data"
    output="screen"  />
    
  <node
    pkg="tera_iiwa_ros"
    type="wrench_transform_publisher"
    name="wrench_transform_publisher"
    output="screen" /> -->
  <arg name="IP" default="192.170.10.100"/>
  <node
    pkg="netft_utils"
    type="netft_node"
    name="netft_node"
    output="screen"
    args="$(arg IP)"/>

  <node
    pkg="tera_iiwa_ros"
    type="sensor_grav_comp.py"
    name="grav_comp"
    output="screen"  />
</launch>
