<launch>
  <!-- <arg name="align_depth"       default="true"/>
  <arg name="filters"           default="pointcloud"/>

  <arg name="rtabmap_args"      default="delete_db_on_start"/>
  <arg name="depth_topic"       default="/camera/aligned_depth_to_color/image_raw"/>
  <arg name="rgb_topic"         default="/camera/color/image_raw"/>
  <arg name="camera_info_topic" default="/camera/color/camera_info"/>
  <arg name="approx_sync"       default="false"/> -->

<!-- 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="align_depth" value="$(arg align_depth)"/>
    <arg name="filters"     value="$(arg filters)"/>
  </include> -->



  <include file="$(find tera_iiwa_ros)/launch/filters_on_camera.launch">
  </include>


  <node
    pkg="tera_iiwa_ros"
    type="eye_in_hand"
    name="eye_in_hand"
    output="screen"  />
    

  <!-- Node for Region Detection -->
     


  <!-- <node 
    pkg="cv_trials"
    type="roboflow_detection.py"
    name="pose_detection"
    output="screen"/> -->
    <node 
    pkg="cv_trials"
    type="green_marker_detection.py"
    name="pose_detection"
    output="screen"/>

  <node
    pkg="tera_iiwa_ros"
    type="ComputePoses"
    name="ComputePoses"
    output="screen"  />
  
  <node 
    pkg="cv_trials"
    type="normal_estimation.py"
    name="normal_estimation"
    output="screen"/>
  
  <node
    pkg="tera_iiwa_ros"
    type="target_to_base"
    name="target_to_base"
    output="screen"  />

  <!-- <node
    pkg="tera_iiwa_ros"
    type="send_new_goals"
    name="send_new_goals"
    output="screen"  /> -->
  
  <!-- <node
    pkg="tera_iiwa_ros"
    type="get_plot_data"
    name="get_plot_data"
    output="screen"  />
  <node
    pkg="tera_iiwa_ros"
    type="wrench_transform"
    name="wrench_transform"
    output="screen" /> -->
</launch>
