<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0297205 -0.0703218 0.023044" rpy="0.0100434 -0.00924865 0.0355508" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0297205 -0.0703218 0.023044   0.00493866 -0.00471278 0.0177509 0.999819 iiwa_link_ee camera_color_optical_frame" />
</launch>
